*{
  box-sizing: border-box;
}

body {
  background-color: white;
  color:#b2bec3;
  font-family: sans-serif;
  max-width: 60em;
  margin: auto;
}

h1 {
  color: #636e72;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: .5em 1em;
  background-color: #3498db;
}

nav > ul > li > a {
  text-decoration: none;
  color : #ffffff;
}

/* RESPONSIVE */
@media screen and (min-width: 40em){
  body {
    background-color: grey;
  }

  h1 {
    color: #fafafa;
  }
}

/* @media (prefers-color-scheme: dark) and (min-width: 40em){
  body {
    background-color: #808080;
  }

}

/** Dark Mode **/

@media (prefers-color-scheme: dark) {

  body {
    color: #ddd;
    background-color: #222;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    color:white;
    background-color: black;
  }
} */
